<div headernav></div>

<div class="container">
      <form name="formchoosepayment" novalidate>
        <h3>Choose a Payment Method</h3>
        <div>&nbsp;</div>
        <button type="submit" ng-model="savedcard" class="btn btn-lg btn-primary btn-block">Use Saved Card{{}}</button>
        <div>&nbsp;</div>
        <button type="submit" ng-model="othercard" class="btn btn-lg btn-default btn-block btn-info">Use Credit/Debit Card</button>
        <div>&nbsp;</div>
        <button type="submit" ng-model="paypal" class="btn btn-lg btn-default btn-block btn-warning">Paypal</button>

      </form>
</div> <!-- /container -->
