<div headernav></div>

<div class="container">
      <form name="formchoosepayment" novalidate>
        <h1>Confirm Authorization</h1>
        <div>&nbsp;</div>
        <div>Payment Method Saved: {{}}</div>
        <div>Amount: $69{{}}</div>
        <div>&nbsp;</div>
        <button type="submit" ng-model="savedcard" class="btn btn-lg btn-primary btn-block">Confirm</button>
        <div>&nbsp;</div>
        <div>&nbsp;</div>
        <button type="submit" ng-model="othercard" class="btn btn-lg btn-default btn-block btn-warning">Use a Different Method</button>

      </form>
</div> <!-- /container -->
