<div headernav></div>

<div class="container">
      <form name="formhwhelp" novalidate>
        <h2>Homework Help</h2>

        <div>&nbsp;</div>
        <div>
            We accept homework assignments, practice questions, projects, laboratory write-ups, and more. We cover many subjects from beginner to advanced.
        </div>

        <div>&nbsp;</div>
        <div class="alert alert-info" role="alert">
          <strong>Reminder:</strong> This is not a free service.<br />
        </div>

        <hr />
        <em class="text-info">Fieds with <strong>*</strong> are required</em>
        <div class="space-top row">
                <div class='col-sm-6'>
                  <label>* Date Due</label>
                    <div class="form-group" ng-class="{'has-error': (formhwhelp.datepickerHw.$touched || formhwhelp.$submitted) && formhwhelp.datepickerHw.$invalid}">
                        <div class='input-group date'>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                            <input type='text' datepicker id="datepickerHw" name="datepickerHw" ng-model="initdate" class="form-control" placeholder="Click to select date." readonly required />
                        </div>
                    </div>
                </div>
                <script type="text/javascript">
                    $(function () {
                        $('#datepickerHw').datetimepicker({
                          format: 'YYYY-MM-DD',
                          showTodayButton: true,
                          ignoreReadonly: true
                        });
                    });
                </script>
        </div>

        <div class="row">
                    <div class='col-sm-6'>
                      <label>* Time Due</label>
                        <div class="form-group" ng-class="{'has-error': (formhwhelp.timepickerHw.$touched || formhwhelp.$submitted) && formhwhelp.timepickerHw.$invalid}">
                            <div class='input-group date'>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-time"></span>
                                </span>
                                <input type='text' id='timepickerHw' name='timepickerHw' ng-model="inittime" class="form-control" placeholder="Click to select time." readonly required />
                            </div>
                        </div>
                    </div>
                    <script type="text/javascript">
                        $(function () {
                            $('#timepickerHw').datetimepicker({
                              format:'LT',
                              showClose : true,
                              ignoreReadonly: true
                            });
                        });
                    </script>
        </div>
        
        <div><strong>Your Time Zone:</strong> GMT {{timezone}}</div>

        <hr />
        <div class="space-top form-group" ng-class="{'has-error': (formhwhelp.cbsubject.$touched || formhwhelp.$submitted) && formhwhelp.cbsubject.$invalid}">
          <label>* Select the subject that best describes your assignment</label>
          <select class="form-control" ng-model="subjectSel" name="cbsubject" ng-change="switchSubject()" ng-options="subj.title group by subj.grouptitle for subj in formatsubj" required>
                <option value="">Select a subject</option>
          </select>
        </div>

        <div class="space-top form-group" ng-class="{'has-error': (formhwhelp.cbgrade.$touched || formhwhelp.$submitted) && formhwhelp.cbgrade.$invalid}">
          <label>* Grade Level</label>
          <select class="form-control" ng-model="hw.grade" name="cbgrade" required>
          	<option value="">Select a grade level</option>
            <option ng-repeat="gradelvl in gradelvllist" value="{{gradelvl}}">{{gradelvl}}</option>
          </select>
        </div>

        <div>&nbsp;</div>
        <div class="space-top">
          <label>Request Speed <a data-toggle="modal" data-target=".bd-speed-modal-lg">( ? )</a></label>
          <div>
            <div class="btn-group" data-toggle="">
                <label class="btn btn-info active">
                    <input type="radio" ng-model="hw.fast" name="hwSpeed" value="normal">
                Normal Speed </label>
                <label class="btn btn-info">
                    <input type="radio" ng-model="hw.fast" name="hwSpeed" value="fast">
                Fast Speed </label>
            </div>

          </div>
        </div>



        <!--MODAL POP BOX FOR REQUEST SPEED-->
        <div class="modal fade bd-speed-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-info" id="gridModalLabel">Request speed information</h4>
              </div>
              <div class="modal-body">
                <strong>Normal response time:</strong> Our most experienced, most successful tutors are provided for maximum expertise and reliability.<br /><br /><strong>Fast response time: </strong>Used only for emergencies when speed is the single most important factor.
                <div>&nbsp;</div>
                <div class="row">
                  <div class="col-xs-4">
                    <button type="submit" class="btn btn-md btn-primary btn-block">OK</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <hr />

        <div class="space-top">
          <label> Specialist's username <em><small class="text-info">(Optional)</small></em></label>
          <div class='input-group date'>
              <span class="input-group-addon">
                  <span class="glyphicon glyphicon-user"></span>
              </span>
          <input type="mail" ng-model="hw.tutorname" class="form-control" placeholder="" />
          </div>
        </div>

        <div class="space-top">
          <label> Discount Code <em><small class="text-info">(If you have one)</small></em></label>
          <div class='input-group date'>
              <span class="input-group-addon">
                  <span class="glyphicon glyphicon-usd"></span>
              </span>
              <input type="mail" ng-model="hw.discountcode" class="form-control" placeholder="" />
          </div>
        </div>

        <div class="space-top form-group" ng-class="{'has-error': (formhwhelp.commentsHw.$touched || formhwhelp.$submitted) && formhwhelp.commentsHw.$invalid}">
          <label>* Question/Instructions</label>
          <textarea name="commentsHw" class="form-control" ng-model="hw.comment" required></textarea>
        </div>


        <div class="space-top alert alert-info">
          <input type="file" class="form-control">
        </div>
        <div>&nbsp;</div>

        <div class="btn-group btn-group-justified">
            <div class="btn-group">
                <button type="submit" ng-click="sendHw()" ng-disabled="formhwhelp.$invalid" class="btn btn-lg btn-primary">Submit</button>
            </div>
        </div>
      </form>
      <br />
</div> <!-- /container -->
