<select name="combo-notif" class="form-control">
					<option value="Email and SMS">Email and SMS</option>
					<option value="Email Only" selected="">Email Only</option>
					<option value="SMS Only">SMS Only</option>
					<option value="None">None</option>
</select>
