<select name="combo-card" class="form-control">
 <option value="Visa">Visa</option>
 <option value="MasterCard">MasterCard</option>
 <option value="Discover">Discover</option>
 <option value="Amex">American Express</option>	
</select>
