<div headernav></div>

<div class="container">
	<form class="formsignin" name="login" ng-submit="vm.submit()">
		<h2 class="form-signin-heading">Login</h2>

		<div class="alert alert-warning" ng-show="!!vm.error">
			<!-- <button type="button" class="close" ng-click="vm.error=null">&times;</button> -->
			{{vm.error}}
		</div>

		<div class="form-group">
			<div class="input-group">
				<label class="input-group-addon" for="email">
						<span class="glyphicon glyphicon-envelope"></span>
				</label>
				<input type="text" id="email" name="email" ng-model="vm.email" class="form-control" placeholder="Email address" required autofocus>
			</div>
		</div>

		<div class="form-group">
			<div class="input-group">
				<label class="input-group-addon" for="password">
						<span class="glyphicon glyphicon-lock"></span>
				</label>
				<input type="password" id="password" name="password" ng-model="vm.password" class="form-control" placeholder="Password" required>
			</div>
		</div>

		<button class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="vm.loading">Sign in</button>
	</form>
	<div>&nbsp;</div>
	<div>
		<a href="#/createaccount">Not registered? It only takes a minute!</a>
	</div>
	<br />
	<div>
		<a href="#">Forgot your password?</a>
	</div>
</div> <!-- /container -->
