<div headernav></div>

<form class="container" ng-submit="vm.submit()" novalidate>
	<br><br>
	<div class="form-group row">
		<div class="col-xs-7 col-sm-8">
			<div class="input-group">
				<span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
				<input type='text' class="form-control" placeholder="Search" ng-model="vm.params.keyword">
			</div>
		</div>
		<div class="col-xs-5 col-sm-4">
			<div class="btn-group btn-group-justified">
				<a class="btn btn-info" ng-class="{active: vm.sortReset.$dirty}" data-toggle="modal" data-target="#modal-sort">Sort</a>
				<a class="btn btn-info" ng-class="{active: vm.filterReset.$dirty}" data-toggle="modal" data-target="#modal-filter">Filter</a>
			</div>
		</div>
	</div>
	
	<div class="clearfix">
		<h2>
			<button type="button" class="btn btn-default pull-right" ng-click="vm.togglePipeline()" style="min-width:140px">{{vm.pipeline ? 'Requests' : 'Pipeline'}}</button>
			{{vm.pipeline ? 'Pipeline' : 'Requests'}}
		</h2>
	</div>

	<div class="three-quarters-loader" ng-if="vm.isLoading"><span></span></div>

	<div class="list-group" ng-hide="vm.isLoading">
		<a ng-repeat="item in vm.list" ng-class-even="'bg-gray-lighter'" class="list-group-item" href="#/reqcontenttutor/{{item.ids}}">
			<span class="badge pull-left text-error">{{item.ids}}</span> &nbsp; <span class="text-danger">{{item.status}}</span> &mdash; {{item.postedBy}} &mdash; Unattended for {{item.unattended}}
			<hr ng-show="pipeline"/><label ng-show="pipeline">[ text label and data goes here ]</label>
			<span class="glyphicon glyphicon-chevron-right pull-right icon-middle-r"></span>
		</a>
		<p ng-show="vm.list.length === 0">
			<br><br><br><br>
			<em class="help-block text-muted text-center">no results found</em>
		</p>
	</div>
</form>


<div id="modal-sort" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title text-info" id="gridModalLabel">Sort by</h4>
			</div>
			<form name="sort" class="modal-body" novalidate>
				<div class="form-group">
					<select size="3" class="form-control" ng-model="vm.params" ng-options="key as value for (key, value) in vm.sort.order_by"></select>
				</div>
				
				<div class="form-group">
					<select size="2" class="form-control" ng-model="vm.params.order_by_direction" ng-options="key as value for (key, value) in vm.sort.order_by_direction"></select>
				</div>

				<div class="form-group row">
					<div class="col-xs-6">
						<button type="submit" class="btn btn-md btn-primary btn-block" ng-click="vm.submit(sort)"><strong>View Requests</strong></button>
					</div>
					<div class="col-xs-6 text-right">
						<button type="reset" class="btn btn-md btn-default" ng-click="vm.sortReset(sort)">Reset Sorting</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<div id="modal-filter" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title text-info" id="gridModalLabel">Filter Section</h4>
			</div>
			<form name="filter" class="modal-body" novalidate>
				<div class="form-group">
					<select size="6" class="form-control" ng-model="vm.params.status" ng-options="key as value for (key, value) in vm.filter.status"></select>
				</div>

				<div class="form-group">
					<select size="3" class="form-control" ng-model="vm.params.table" ng-options="key as value for (key, value) in vm.filter.table"></select>
				</div>

				<div class="form-group">
					<select size="3" class="form-control" ng-model="vm.params.archived" ng-options="key as value for (key, value) in vm.filter.archived"></select>
				</div>

				<div class="form-group">
					<div ng-include="'app/pages/list-subjects.tpl.html'"></div>
				</div>

				<div class="form-group row">
					<div class="col-xs-6">
						<button type="submit" class="btn btn-md btn-primary btn-block" ng-click="vm.submit(filter)">View Requests</button>
					</div>
					<div class="col-xs-6 text-right">
						<button type="reset" class="btn btn-md btn-default" ng-click="vm.filterReset(filter)">Reset Filters</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
