<div headernav></div>

<div class="container">
      <form name="formaccountinfo" novalidate>
        <h2>Account Information</h2>
        <div>
          <label> Email address</label>
          <input type="text" ng-model="fname" class="form-control" ng-minlength="3" placeholder="Enter your valid email address" required />
        </div>

        <hr />
        <div>
          <label> Phone</label>
          <input type="text" ng-model="fname" class="form-control" ng-minlength="3" placeholder="Enter your valid phone number" required />
        </div>

        <div class="space-top">
          <label> Address line 1</label>
          <input type="text" ng-model="fname" class="form-control" ng-minlength="3" placeholder="Enter address line 1" required />
          <label> Address line 2</label>
          <input type="text" ng-model="fname" class="form-control" ng-minlength="3" placeholder="Enter address line 2" required />
        </div>

        <div class="space-top">
          <label> City</label>
          <input type="text" ng-model="fname" class="form-control" ng-minlength="3" placeholder="Enter your city" required />
        </div>

        <div class="space-top">
          <label> State</label>
          <div ng-include="'app/pages/list-state.tpl.html'"></div>
        </div>

        <div class="space-top">
          <label> Zip</label>
          <input type="text" ng-model="fname" class="form-control" ng-minlength="3" placeholder="Enter your zip code" required />
        </div>

        <div class="space-top">
          <label> Country</label>
          <div ng-include="'app/pages/list-country.tpl.html'"></div>
        </div>



        <hr />
        <div class="text-center">Password information only required if changing password</div>
        <input type="password" ng-model="currpwd" class="form-control" placeholder="Current Password" required />
        <div>&nbsp;</div>
        <input type="password" ng-model="pwd" class="form-control" placeholder="*New Password" required />
        <input type="password" ng-model="pwd2" password-match="pwd" class="form-control space-top" placeholder="*Re-type Password" required />

        <div class="msg-block" ng-show="createForm.$error">
          <span class="msg-error" ng-show="createForm.pwd2.$error.pwmatch">
            Passwords don't match.
          </span>
        </div>

        <hr />
        <div class="checkbox">
          <label>
              <input type="checkbox" ng-model="cbnotif" required /> Opt-out of new request notifications
          </label>
        </div>

        <div class="space-top">
          <label> Notifications</label>
          <div ng-include="'app/pages/list-notification.tpl.html'"></div>
        </div>

        <hr />
        <h4>Profile Information</h4>

        <div class="space-top">
          <label> My Subjects</label>
          <div style="border:1px dashed #999999;">&nbsp;</div>
        </div>

        <div class="space-top">
          <label> Your Profile Picture</label>
          <div class="row">
              <div class="pull-left"><img src="app/images/nophoto.jpg" style="width:100px;height:100px;" /></div>
              <div class="col-xs-8 col-sm-6">
                <div class="space-top">
                  <input type="file" class="form-control">
                </div>

                <div class="btn-group space-top" role="group" aria-label="Basic example">
                  <button type="button" class="btn btn-primary">Submit Picture</button>
                  <button type="button" class="btn btn-danger">Remove</button>
                </div>

              </div>
          </div>
        </div>

        <div class="space-top">
          <label> Biography</label>
          <textarea ng-model="biography" class="form-control" required></textarea>
        </div>


        <div>&nbsp;</div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Save Changes</button>
      </form>
</div> <!-- /container -->
