<div headernav></div>

<div class="container">
      <form name="formcontactus" novalidate>
        <h2>Enter Credit Card Info</h2>
        <div>&nbsp;</div>


        <div class="space-top">
          <label> First Name (as it appears on your card)</label>
          <input type="text" ng-model="fname" class="form-control" placeholder="Enter First Name" required />
        </div>

        <div class="space-top">
          <label> Last Name</label>
          <input type="text" ng-model="fname" class="form-control" placeholder="Enter First Name" required />
        </div>

        <hr />

        <div class="space-top row">
          <div class="col-xs-4">
            <label>Card Type</label>
            <div ng-include="'app/pages/list-card.tpl.html'"></div>
          </div>
          <div class="col-xs-8">
            <label>Card Number </label>
            <img src="app/images/cards.gif" />
            <input type="text" ng-model="fname" class="form-control" placeholder="Enter First Name" required />
          </div>
        </div>

        <div class="space-top row">
          <div class="col-xs-6">
            <label>Expiration Date:</label>

              <input type='text' class="form-control" id='expdatepicker' />

            <script type="text/javascript">
                $(function () {
                    $('#expdatepicker').datetimepicker({
                        viewMode: 'years',
                        format: 'MM/YYYY'
                    });
                });
            </script>
          </div>
          <div class="col-xs-4">
            <label>CV2 Code</label>
            <input type="text" ng-model="cvcode" class="form-control" placeholder="-" required />
          </div>
        </div>

        <div class="checkbox">
          <label><input type="checkbox" value="">Remember payment method</label>
        </div>

        <hr />

        <h4>Billing Address</h4>

        <div class="space-top">
          <label>Street Address</label>
          <input type="text" ng-model="address" class="form-control" placeholder="-" required />
        </div>

        <div class="space-top">
          <label>City</label>
          <input type="text" ng-model="city" class="form-control" placeholder="-" required />
        </div>

        <div class="space-top row">
          <div class="col-xs-6">
            <label>State/Province</label>
            <div ng-include="'app/pages/list-state.tpl.html'"></div>
          </div>

          <div class="col-xs-6">
              <label>&nbsp;</label>
            <input type="text" ng-model="fname" class="form-control" placeholder="Enter Province" required />
          </div>
        </div>

        <div class="space-top">
          <label>Zip/Postal Code</label>
          <input type="text" ng-model="city" class="form-control" placeholder="-" required />
        </div>

        <div class="space-top">
          <label> Country</label>
          <div ng-include="'app/pages/list-country.tpl.html'"></div>
        </div>
        
        <hr />

        <div class="btn-group btn-group-justified">
            <div class="btn-group">
                <button type="submit" ng-model="submit" class="btn btn-lg btn-primary ">Confirm</button>
            </div>
        </div>

        <div class="btn-group btn-group-justified space-top">
            <div class="btn-group">
                <button type="submit" ng-model="submit" class="btn btn-lg btn-default ">Use a Different Payment Method</button>
            </div>
        </div>
      </form>
</div> <!-- /container -->
