<div headernav></div>

<div class="container">
      <form name="formchoosepayment" novalidate>
        <h2>Choose a Payment Method</h2>
        <div>&nbsp;</div>
        <button type="submit" ng-model="savedcard" class="btn btn-lg btn-primary btn-block">Use Saved Card{{}}</button>
        <div>&nbsp;</div>
        <button type="submit" ng-model="othercard" class="btn btn-lg btn-default btn-block">Use Credit/Debit Card</button>
        <div>&nbsp;</div>
        <button type="submit" ng-model="paypal" class="btn btn-lg btn-default btn-block">Paypal</button>

      </form>
</div> <!-- /container -->
