<div headernav></div>

<div class="container">
      <form name="formcreateacc" novalidate>
        <h2>Create New Account</h2>
        <input type="text" ng-model="fname" class="form-control" ng-minlength="3" placeholder="*First Name" required />

        <div>&nbsp;</div>
        <input type="text" ng-model="lname" class="form-control" placeholder="*Last Name" required />

        <div>&nbsp;</div>
        <input type="email" ng-model="email" class="form-control" placeholder="*Email Address" required />

        <div>&nbsp;</div>
        <input type="text" ng-model="uname" class="form-control" placeholder="*Username" required />

        <hr>
        <input type="password" name="pwd" ng-model="pwd" class="form-control" placeholder="*Password" required />

        <div>&nbsp;</div>
        <input type="password" name="pwd2" ng-model="pwd2" password-match="pwd" class="form-control" placeholder="*Re-type Password" required />

        <div class="msg-block" ng-show="formcreateacc.$error">
          <span class="msg-error" ng-show="formcreateacc.pwd2.$error.pwmatch">
            Passwords don't match.
          </span>
        </div>

        <div>&nbsp;</div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="cbtac" required />I have read and agreed to the <a href="#">Terms and Conditions</a>
          </label>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Create Account</button>
      </form>
</div> <!-- /container -->
