<select name="combo-gradelevel" class="form-control">
	<option value="">Select a grade level</option>
	<option value="Graduate Student">Graduate Student</option>
  <option value="College Undergraduate">College Undergraduate</option>
  <option value="High School">High School</option>
  <option value="Junior High">Junior High</option>
  <option value="Elementary">Elementary
  </option>
</select>
