<select name="combo-subjects" class="form-control">
		<option value="">Select a subject</option>
			<option value="" class="disabled">------------------------------</option>
			<option value="">ADMINISTRATION</option>
			<option value="">------------------------------</option>
			<option value="248|<b>Administration</b>--Administration--Other">Administration--Other</option><option value="291|<b>Administration</b>--Educational Administration">Educational Administration</option><option value="289|<b>Administration</b>--Health/Medical/Hospital">Health/Medical/Hospital</option><option value="421|<b>Administration</b>--Librarianship">Librarianship</option><option value="198|<b>Administration</b>--Public--For Profit">Public--For Profit</option><option value="195|<b>Administration</b>--Public--Non-Profit">Public--Non-Profit</option>			<option value="">------------------------------</option>
			<option value="">ANTHROPOLOGY</option>
			<option value="">------------------------------</option>
			<option value="190|<b>Anthropology</b>--Anthropology--Other">Anthropology--Other</option><option value="314|<b>Anthropology</b>--Archeology">Archeology</option>			<option value="">------------------------------</option>
			<option value="">ARCHITECTURE</option>
			<option value="">------------------------------</option>
			<option value="235|<b>Architecture</b>--Architecture--Other">Architecture--Other</option><option value="282|<b>Architecture</b>--AutoCAD">AutoCAD</option><option value="283|<b>Architecture</b>--Layouts">Layouts</option><option value="284|<b>Architecture</b>--Renderings">Renderings</option>			<option value="">------------------------------</option>
			<option value="">ART</option>
			<option value="">------------------------------</option>
			<option value="430|<b>Art</b>--Graphic Design">Graphic Design</option>			<option value="">------------------------------</option>
			<option value="">BIOLOGY</option>
			<option value="">------------------------------</option>
			<option value="101|<b>Biology</b>--Animal Embryology">Animal Embryology</option><option value="95|<b>Biology</b>--Animal Physiology">Animal Physiology</option><option value="266|<b>Biology</b>--Biology--Other">Biology--Other</option><option value="97|<b>Biology</b>--Biotechnology">Biotechnology</option><option value="431|<b>Biology</b>--Botany">Botany</option><option value="99|<b>Biology</b>--Cellular">Cellular</option><option value="376|<b>Biology</b>--Computational">Computational</option><option value="12|<b>Biology</b>--General">General</option><option value="94|<b>Biology</b>--Genetics">Genetics</option><option value="100|<b>Biology</b>--Histology">Histology</option><option value="92|<b>Biology</b>--Microbiology">Microbiology</option><option value="98|<b>Biology</b>--Molecular Biology">Molecular Biology</option><option value="111|<b>Biology</b>--Plant Embryology">Plant Embryology</option><option value="433|<b>Biology</b>--Plant Genetics">Plant Genetics</option><option value="110|<b>Biology</b>--Plant Physiology">Plant Physiology</option><option value="342|<b>Biology</b>--Zoology">Zoology</option>			<option value="">------------------------------</option>
			<option value="">BUSINESS</option>
			<option value="">------------------------------</option>
			<option value="22|<b>Business</b>--Accounting">Accounting</option><option value="362|<b>Business</b>--Banking">Banking</option><option value="55|<b>Business</b>--Business--Other">Business--Other</option><option value="177|<b>Business</b>--Consulting">Consulting</option><option value="368|<b>Business</b>--Drupal">Drupal</option><option value="169|<b>Business</b>--Econometrics">Econometrics</option><option value="20|<b>Business</b>--Economics">Economics</option><option value="19|<b>Business</b>--Finance">Finance</option><option value="351|<b>Business</b>--Financial Accounting">Financial Accounting</option><option value="381|<b>Business</b>--Financial Planning">Financial Planning</option><option value="390|<b>Business</b>--Food Service Management">Food Service Management</option><option value="329|<b>Business</b>--Human Resource Development">Human Resource Development</option><option value="141|<b>Business</b>--Industrial Economics">Industrial Economics</option><option value="330|<b>Business</b>--Industrial Safety">Industrial Safety</option><option value="386|<b>Business</b>--International">International</option><option value="118|<b>Business</b>--Management Information Systems (MIS)">Management Information Systems (MIS)</option><option value="176|<b>Business</b>--Marketing">Marketing</option><option value="324|<b>Business</b>--Mathematical Finance">Mathematical Finance</option><option value="21|<b>Business</b>--Operations Management">Operations Management</option><option value="434|<b>Business</b>--Organizational Behavior">Organizational Behavior</option><option value="249|<b>Business</b>--Project Management">Project Management</option><option value="426|<b>Business</b>--Quality Management">Quality Management</option><option value="420|<b>Business</b>--Standardization">Standardization</option><option value="388|<b>Business</b>--Supply Chain Management">Supply Chain Management</option><option value="303|<b>Business</b>--Tax Returns/IRS Issues">Tax Returns/IRS Issues</option>			<option value="">------------------------------</option>
			<option value="">CHEMISTRY</option>
			<option value="">------------------------------</option>
			<option value="400|<b>Chemistry</b>--Agricultural">Agricultural</option><option value="159|<b>Chemistry</b>--Analytical">Analytical</option><option value="87|<b>Chemistry</b>--Biochemistry">Biochemistry</option><option value="267|<b>Chemistry</b>--Chemistry--Other">Chemistry--Other</option><option value="358|<b>Chemistry</b>--Electrochemistry/Corrosion">Electrochemistry/Corrosion</option><option value="13|<b>Chemistry</b>--General Chemistry">General Chemistry</option><option value="91|<b>Chemistry</b>--Inorganic Chemistry">Inorganic Chemistry</option><option value="359|<b>Chemistry</b>--Instrumental Analysis">Instrumental Analysis</option><option value="90|<b>Chemistry</b>--Organic Chemistry">Organic Chemistry</option><option value="331|<b>Chemistry</b>--Pharmaceutical">Pharmaceutical</option><option value="165|<b>Chemistry</b>--Physical">Physical</option><option value="138|<b>Chemistry</b>--Polymer Chemistry">Polymer Chemistry</option><option value="168|<b>Chemistry</b>--Quantum">Quantum</option><option value="105|<b>Chemistry</b>--Spectroscopy">Spectroscopy</option>			<option value="">------------------------------</option>
			<option value="">COMPUTER SCIENCE</option>
			<option value="">------------------------------</option>
			<option value="158|<b>Computer Science</b>--3D Graphics">3D Graphics</option><option value="419|<b>Computer Science</b>--App Development">App Development</option><option value="129|<b>Computer Science</b>--Artificial Intelligence">Artificial Intelligence</option><option value="307|<b>Computer Science</b>--Bioinformatics">Bioinformatics</option><option value="115|<b>Computer Science</b>--Circuit Analysis">Circuit Analysis</option><option value="56|<b>Computer Science</b>--Computer Science--Other">Computer Science--Other</option><option value="103|<b>Computer Science</b>--Cryptography">Cryptography</option><option value="142|<b>Computer Science</b>--Data Structures and Algorithms">Data Structures and Algorithms</option><option value="18|<b>Computer Science</b>--Database Development">Database Development</option><option value="50|<b>Computer Science</b>--Digital Electronics">Digital Electronics</option><option value="15|<b>Computer Science</b>--Discrete Math">Discrete Math</option><option value="414|<b>Computer Science</b>--Gaming and Simulation">Gaming and Simulation</option><option value="385|<b>Computer Science</b>--History of Computing">History of Computing</option><option value="130|<b>Computer Science</b>--Image Processing">Image Processing</option><option value="139|<b>Computer Science</b>--Information Security">Information Security</option><option value="128|<b>Computer Science</b>--Information Theory">Information Theory</option><option value="144|<b>Computer Science</b>--Linux (Shell Scripting, etc.)">Linux (Shell Scripting, etc.)</option><option value="394|<b>Computer Science</b>--Matlab">Matlab</option><option value="114|<b>Computer Science</b>--Networks Management">Networks Management</option><option value="258|<b>Computer Science</b>--Operating Systems">Operating Systems</option><option value="228|<b>Computer Science</b>--Parallel Computing">Parallel Computing</option><option value="200|<b>Computer Science</b>--Programming (Assembly Language)">Programming (Assembly Language)</option><option value="16|<b>Computer Science</b>--Programming (C Family)">Programming (C Family)</option><option value="72|<b>Computer Science</b>--Programming (Dynamic, Linear, Non-linear,...">Programming (Dynamic, Linear, Non-linear, etc.)</option><option value="136|<b>Computer Science</b>--Programming (Java)">Programming (Java)</option><option value="354|<b>Computer Science</b>--Programming (Perl)">Programming (Perl)</option><option value="259|<b>Computer Science</b>--Programming (Python)">Programming (Python)</option><option value="344|<b>Computer Science</b>--Programming (Ruby, Ruby on Rails,...">Programming (Ruby, Ruby on Rails, etc.)</option><option value="361|<b>Computer Science</b>--Programming (Visual Basic)">Programming (Visual Basic)</option><option value="140|<b>Computer Science</b>--Software Engineering and Design">Software Engineering and Design</option><option value="207|<b>Computer Science</b>--Software Testing and Analysis">Software Testing and Analysis</option><option value="17|<b>Computer Science</b>--Software Training (all Microsoft...">Software Training (all Microsoft products and more)</option><option value="108|<b>Computer Science</b>--Systems Architecture">Systems Architecture</option><option value="143|<b>Computer Science</b>--Theoretical">Theoretical</option><option value="113|<b>Computer Science</b>--Verilog, VHDL">Verilog, VHDL</option><option value="54|<b>Computer Science</b>--Web Development (HTML, XML, PHP,...">Web Development (HTML, XML, PHP, Adobe, Flash, etc.)</option>			<option value="">------------------------------</option>
			<option value="">COMPUTER SUPPORT SERVICES</option>
			<option value="">------------------------------</option>
			<option value="265|<b>Computer Support Services</b>--IT Audit and Security">IT Audit and Security</option><option value="263|<b>Computer Support Services</b>--IT Hardware Support">IT Hardware Support</option><option value="262|<b>Computer Support Services</b>--IT Software Installation/Configuration">IT Software Installation/Configuration</option><option value="264|<b>Computer Support Services</b>--IT Technical Support">IT Technical Support</option>			<option value="">------------------------------</option>
			<option value="">EARTH SCIENCE</option>
			<option value="">------------------------------</option>
			<option value="432|<b>Earth Science</b>--Agrobiotechnology">Agrobiotechnology</option><option value="310|<b>Earth Science</b>--Disaster Studies">Disaster Studies</option><option value="407|<b>Earth Science</b>--Earth System Science">Earth System Science</option><option value="112|<b>Earth Science</b>--Environmental Science">Environmental Science</option><option value="243|<b>Earth Science</b>--Geology">Geology</option><option value="408|<b>Earth Science</b>--Meteorology and Atmospheric Science">Meteorology and Atmospheric Science</option><option value="411|<b>Earth Science</b>--Mineralogy">Mineralogy</option><option value="311|<b>Earth Science</b>--Oceanography">Oceanography</option><option value="410|<b>Earth Science</b>--Petrology and the Rock Cycle">Petrology and the Rock Cycle</option><option value="409|<b>Earth Science</b>--Rocks and Minerals">Rocks and Minerals</option><option value="62|<b>Earth Science</b>--Science--Other">Science--Other</option><option value="412|<b>Earth Science</b>--Weather Forecasting">Weather Forecasting</option>			<option value="">------------------------------</option>
			<option value="">EDUCATION</option>
			<option value="">------------------------------</option>
			<option value="290|<b>Education</b>--Curriculum Development">Curriculum Development</option><option value="425|<b>Education</b>--Early Childhood Education">Early Childhood Education</option>			<option value="">------------------------------</option>
			<option value="">ENGINEERING</option>
			<option value="">------------------------------</option>
			<option value="251|<b>Engineering</b>--Aerospace">Aerospace</option><option value="322|<b>Engineering</b>--Automotive">Automotive</option><option value="244|<b>Engineering</b>--Bioengineering">Bioengineering</option><option value="137|<b>Engineering</b>--Chemical">Chemical</option><option value="166|<b>Engineering</b>--Civil">Civil</option><option value="355|<b>Engineering</b>--Communication">Communication</option><option value="346|<b>Engineering</b>--Dynamics/Controls">Dynamics/Controls</option><option value="52|<b>Engineering</b>--Electrical">Electrical</option><option value="371|<b>Engineering</b>--Energy Systems">Energy Systems</option><option value="57|<b>Engineering</b>--Engineering--Other">Engineering--Other</option><option value="167|<b>Engineering</b>--Environmental">Environmental</option><option value="398|<b>Engineering</b>--Food">Food</option><option value="227|<b>Engineering</b>--Hydrodynamics">Hydrodynamics</option><option value="69|<b>Engineering</b>--Industrial">Industrial</option><option value="182|<b>Engineering</b>--Industrial Biotechnology">Industrial Biotechnology</option><option value="183|<b>Engineering</b>--Industrial Microbiology">Industrial Microbiology</option><option value="415|<b>Engineering</b>--Marine Engineering">Marine Engineering</option><option value="416|<b>Engineering</b>--Marine Engineering">Marine Engineering</option><option value="406|<b>Engineering</b>--Materials Science">Materials Science</option><option value="395|<b>Engineering</b>--Matlab">Matlab</option><option value="49|<b>Engineering</b>--Mechanical">Mechanical</option><option value="405|<b>Engineering</b>--Metallurgy">Metallurgy</option><option value="309|<b>Engineering</b>--Power System">Power System</option><option value="334|<b>Engineering</b>--Radar and Antennas">Radar and Antennas</option><option value="356|<b>Engineering</b>--Reservoir/Petroleum">Reservoir/Petroleum</option><option value="135|<b>Engineering</b>--Robotics">Robotics</option><option value="288|<b>Engineering</b>--Structural">Structural</option><option value="312|<b>Engineering</b>--Timber">Timber</option><option value="277|<b>Engineering</b>--Transport Phenomena">Transport Phenomena</option><option value="308|<b>Engineering</b>--Water/Wastewater Treatment">Water/Wastewater Treatment</option>			<option value="">------------------------------</option>
			<option value="">EXAM PREP</option>
			<option value="">------------------------------</option>
			<option value="296|<b>Exam Prep</b>--ACT - English, Reading, Writing">ACT - English, Reading, Writing</option><option value="30|<b>Exam Prep</b>--ACT - Mathematics">ACT - Mathematics</option><option value="29|<b>Exam Prep</b>--AP">AP</option><option value="33|<b>Exam Prep</b>--CLEP">CLEP</option><option value="64|<b>Exam Prep</b>--Exam Prep--Other">Exam Prep--Other</option><option value="292|<b>Exam Prep</b>--GED - Language Arts, Writing">GED - Language Arts, Writing</option><option value="293|<b>Exam Prep</b>--GED - Mathematics">GED - Mathematics</option><option value="295|<b>Exam Prep</b>--GED - Social Studies">GED - Social Studies</option><option value="294|<b>Exam Prep</b>--GED -Science">GED -Science</option><option value="208|<b>Exam Prep</b>--GRE - Quantitative">GRE - Quantitative</option><option value="32|<b>Exam Prep</b>--LSAT">LSAT</option><option value="332|<b>Exam Prep</b>--PCAT">PCAT</option><option value="25|<b>Exam Prep</b>--PSAT">PSAT</option><option value="250|<b>Exam Prep</b>--Regents Physics">Regents Physics</option><option value="26|<b>Exam Prep</b>--SAT - Math">SAT - Math</option><option value="403|<b>Exam Prep</b>--SAT - Reading">SAT - Reading</option><option value="214|<b>Exam Prep</b>--SAT Subject Test - Biology/EM">SAT Subject Test - Biology/EM</option><option value="215|<b>Exam Prep</b>--SAT Subject Test - Chemistry">SAT Subject Test - Chemistry</option><option value="216|<b>Exam Prep</b>--SAT Subject Test - Chinese With Listening">SAT Subject Test - Chinese With Listening</option><option value="217|<b>Exam Prep</b>--SAT Subject Test - French">SAT Subject Test - French</option><option value="218|<b>Exam Prep</b>--SAT Subject Test - Italian">SAT Subject Test - Italian</option><option value="213|<b>Exam Prep</b>--SAT Subject Test - Literature">SAT Subject Test - Literature</option><option value="211|<b>Exam Prep</b>--SAT Subject Test - Math Level 1">SAT Subject Test - Math Level 1</option><option value="212|<b>Exam Prep</b>--SAT Subject Test - Math Level 2">SAT Subject Test - Math Level 2</option><option value="210|<b>Exam Prep</b>--SAT Subject Test - Physics">SAT Subject Test - Physics</option><option value="219|<b>Exam Prep</b>--SAT Subject Test - World History">SAT Subject Test - World History</option><option value="28|<b>Exam Prep</b>--SSAT">SSAT</option><option value="298|<b>Exam Prep</b>--TESL">TESL</option>			<option value="">------------------------------</option>
			<option value="">GEOGRAPHY</option>
			<option value="">------------------------------</option>
			<option value="179|<b>Geography</b>--Geography--Other">Geography--Other</option>			<option value="">------------------------------</option>
			<option value="">GOVERNMENT AND POLITICS</option>
			<option value="">------------------------------</option>
			<option value="156|<b>Government and Politics</b>--Government and Politics--Other">Government and Politics--Other</option><option value="180|<b>Government and Politics</b>--International">International</option><option value="191|<b>Government and Politics</b>--United States">United States</option>			<option value="">------------------------------</option>
			<option value="">HIGH SCHOOL SUBJECTS</option>
			<option value="">------------------------------</option>
			<option value="242|<b>High School Subjects</b>--English">English</option><option value="240|<b>High School Subjects</b>--Math">Math</option><option value="241|<b>High School Subjects</b>--Science">Science</option><option value="239|<b>High School Subjects</b>--Social Studies">Social Studies</option>			<option value="">------------------------------</option>
			<option value="">HISTORY</option>
			<option value="">------------------------------</option>
			<option value="185|<b>History</b>--Art">Art</option><option value="302|<b>History</b>--Caribbean">Caribbean</option><option value="82|<b>History</b>--European">European</option><option value="86|<b>History</b>--History--Other">History--Other</option><option value="81|<b>History</b>--Indian">Indian</option><option value="83|<b>History</b>--Latin American">Latin American</option><option value="186|<b>History</b>--Medieval Studies">Medieval Studies</option><option value="85|<b>History</b>--Middle Eastern">Middle Eastern</option><option value="380|<b>History</b>--Military">Military</option><option value="84|<b>History</b>--North African">North African</option><option value="80|<b>History</b>--North American">North American</option><option value="422|<b>History</b>--Russian">Russian</option><option value="151|<b>History</b>--U.S. History">U.S. History</option><option value="152|<b>History</b>--World History">World History</option>			<option value="">------------------------------</option>
			<option value="">LANGUAGE</option>
			<option value="">------------------------------</option>
			<option value="323|<b>Language</b>--American Sign Language">American Sign Language</option><option value="162|<b>Language</b>--Arabic">Arabic</option><option value="370|<b>Language</b>--Communication">Communication</option><option value="44|<b>Language</b>--English">English</option><option value="149|<b>Language</b>--English Grammar">English Grammar</option><option value="45|<b>Language</b>--ESL">ESL</option><option value="150|<b>Language</b>--French">French</option><option value="148|<b>Language</b>--German">German</option><option value="254|<b>Language</b>--Greek">Greek</option><option value="161|<b>Language</b>--Hebrew">Hebrew</option><option value="181|<b>Language</b>--Italian">Italian</option><option value="58|<b>Language</b>--Language--Other">Language--Other</option><option value="163|<b>Language</b>--Latin">Latin</option><option value="345|<b>Language</b>--Linguistics">Linguistics</option><option value="353|<b>Language</b>--Malay">Malay</option><option value="352|<b>Language</b>--Mandarin/Chinese">Mandarin/Chinese</option><option value="357|<b>Language</b>--Persian">Persian</option><option value="238|<b>Language</b>--Portuguese">Portuguese</option><option value="246|<b>Language</b>--Russian">Russian</option><option value="164|<b>Language</b>--Spanish">Spanish</option><option value="383|<b>Language</b>--Speech Language Therapy">Speech Language Therapy</option><option value="287|<b>Language</b>--Turkish">Turkish</option>			<option value="">------------------------------</option>
			<option value="">LAW</option>
			<option value="">------------------------------</option>
			<option value="363|<b>Law</b>--Banking">Banking</option><option value="337|<b>Law</b>--Case Law">Case Law</option><option value="338|<b>Law</b>--Criminal Justice">Criminal Justice</option><option value="341|<b>Law</b>--Employment">Employment</option><option value="377|<b>Law</b>--Entertainment">Entertainment</option><option value="365|<b>Law</b>--International">International</option><option value="335|<b>Law</b>--Law Briefs">Law Briefs</option><option value="339|<b>Law</b>--Law--Other">Law--Other</option><option value="366|<b>Law</b>--US Taxation">US Taxation</option>			<option value="">------------------------------</option>
			<option value="">MATHEMATICS</option>
			<option value="">------------------------------</option>
			<option value="119|<b>Mathematics</b>--Abstract Algebra">Abstract Algebra</option><option value="245|<b>Mathematics</b>--Actuarial">Actuarial</option><option value="34|<b>Mathematics</b>--Advanced Math">Advanced Math</option><option value="2|<b>Mathematics</b>--Algebra">Algebra</option><option value="160|<b>Mathematics</b>--Algebraic Geometry">Algebraic Geometry</option><option value="1|<b>Mathematics</b>--Basic Math">Basic Math</option><option value="6|<b>Mathematics</b>--Calculus">Calculus</option><option value="127|<b>Mathematics</b>--Combinatorics">Combinatorics</option><option value="123|<b>Mathematics</b>--Complex Analysis">Complex Analysis</option><option value="229|<b>Mathematics</b>--Control Theory">Control Theory</option><option value="70|<b>Mathematics</b>--Decision Theory">Decision Theory</option><option value="10|<b>Mathematics</b>--Differential Equations">Differential Equations</option><option value="122|<b>Mathematics</b>--Differential Geometry">Differential Geometry</option><option value="257|<b>Mathematics</b>--Discrete Math">Discrete Math</option><option value="220|<b>Mathematics</b>--Dynamical Systems">Dynamical Systems</option><option value="126|<b>Mathematics</b>--Ergodic Theory">Ergodic Theory</option><option value="124|<b>Mathematics</b>--Functional Analysis">Functional Analysis</option><option value="65|<b>Mathematics</b>--Game Theory">Game Theory</option><option value="3|<b>Mathematics</b>--Geometry">Geometry</option><option value="349|<b>Mathematics</b>--Integral Equations">Integral Equations</option><option value="9|<b>Mathematics</b>--Linear Algebra">Linear Algebra</option><option value="66|<b>Mathematics</b>--Logic">Logic</option><option value="60|<b>Mathematics</b>--Math--Other">Math--Other</option><option value="396|<b>Mathematics</b>--Matlab">Matlab</option><option value="125|<b>Mathematics</b>--Measure Theory">Measure Theory</option><option value="68|<b>Mathematics</b>--Number Theory">Number Theory</option><option value="47|<b>Mathematics</b>--Numerical Analysis">Numerical Analysis</option><option value="73|<b>Mathematics</b>--Operations Research">Operations Research</option><option value="348|<b>Mathematics</b>--Perturbation Methods">Perturbation Methods</option><option value="41|<b>Mathematics</b>--Pre-Calculus">Pre-Calculus</option><option value="8|<b>Mathematics</b>--Probability">Probability</option><option value="71|<b>Mathematics</b>--Queuing Theory">Queuing Theory</option><option value="347|<b>Mathematics</b>--Real Analysis">Real Analysis</option><option value="67|<b>Mathematics</b>--Set Theory">Set Theory</option><option value="48|<b>Mathematics</b>--Signal Processing">Signal Processing</option><option value="134|<b>Mathematics</b>--Statistics--Advanced">Statistics--Advanced</option><option value="133|<b>Mathematics</b>--Statistics--Applied">Statistics--Applied</option><option value="7|<b>Mathematics</b>--Statistics--General">Statistics--General</option><option value="299|<b>Mathematics</b>--Statistics--R Programming">Statistics--R Programming</option><option value="121|<b>Mathematics</b>--Topology">Topology</option><option value="4|<b>Mathematics</b>--Trigonometry">Trigonometry</option>			<option value="">------------------------------</option>
			<option value="">MEDIA STUDIES</option>
			<option value="">------------------------------</option>
			<option value="326|<b>Media Studies</b>--Film, Video, Television">Film, Video, Television</option><option value="236|<b>Media Studies</b>--Journalism">Journalism</option><option value="237|<b>Media Studies</b>--Media Studies--Other">Media Studies--Other</option>			<option value="">------------------------------</option>
			<option value="">MEDICINE AND NURSING</option>
			<option value="">------------------------------</option>
			<option value="252|<b>Medicine and Nursing</b>--Chiropractic">Chiropractic</option><option value="319|<b>Medicine and Nursing</b>--Computerized Tomography">Computerized Tomography</option><option value="413|<b>Medicine and Nursing</b>--Dentistry">Dentistry</option><option value="301|<b>Medicine and Nursing</b>--Dispensing">Dispensing</option><option value="271|<b>Medicine and Nursing</b>--Epidemiology">Epidemiology</option><option value="206|<b>Medicine and Nursing</b>--Human Anatomy">Human Anatomy</option><option value="188|<b>Medicine and Nursing</b>--Human Physiology">Human Physiology</option><option value="96|<b>Medicine and Nursing</b>--Immunology">Immunology</option><option value="187|<b>Medicine and Nursing</b>--Kinesiology">Kinesiology</option><option value="427|<b>Medicine and Nursing</b>--Laboratory Science">Laboratory Science</option><option value="102|<b>Medicine and Nursing</b>--Medical Science and Technology">Medical Science and Technology</option><option value="270|<b>Medicine and Nursing</b>--Medicine--Other">Medicine--Other</option><option value="53|<b>Medicine and Nursing</b>--Neuroscience">Neuroscience</option><option value="279|<b>Medicine and Nursing</b>--Orthopedics">Orthopedics</option><option value="281|<b>Medicine and Nursing</b>--Pathology">Pathology</option><option value="93|<b>Medicine and Nursing</b>--Pharmacology">Pharmacology</option><option value="278|<b>Medicine and Nursing</b>--Pharmacy">Pharmacy</option><option value="340|<b>Medicine and Nursing</b>--Reimbursement">Reimbursement</option><option value="285|<b>Medicine and Nursing</b>--Skeletal Biology">Skeletal Biology</option><option value="300|<b>Medicine and Nursing</b>--Therapeutics">Therapeutics</option><option value="286|<b>Medicine and Nursing</b>--Veterinary">Veterinary</option>			<option value="">------------------------------</option>
			<option value="">MUSIC</option>
			<option value="">------------------------------</option>
			<option value="171|<b>Music</b>--Composition/Arranging">Composition/Arranging</option><option value="172|<b>Music</b>--Music History">Music History</option><option value="170|<b>Music</b>--Music Theory">Music Theory</option><option value="178|<b>Music</b>--Music--Other">Music--Other</option>			<option value="">------------------------------</option>
			<option value="">PHILOSOPHY</option>
			<option value="">------------------------------</option>
			<option value="192|<b>Philosophy</b>--Ethics">Ethics</option><option value="201|<b>Philosophy</b>--General">General</option><option value="276|<b>Philosophy</b>--Logic">Logic</option><option value="193|<b>Philosophy</b>--Philosophy--Other">Philosophy--Other</option>			<option value="">------------------------------</option>
			<option value="">PHYSICS</option>
			<option value="">------------------------------</option>
			<option value="222|<b>Physics</b>--Astronomy">Astronomy</option><option value="223|<b>Physics</b>--Astrophysics">Astrophysics</option><option value="417|<b>Physics</b>--Chaos Theory">Chaos Theory</option><option value="401|<b>Physics</b>--Classical Mechanics">Classical Mechanics</option><option value="325|<b>Physics</b>--Electricity and Magnetism">Electricity and Magnetism</option><option value="14|<b>Physics</b>--General">General</option><option value="379|<b>Physics</b>--Gravitation">Gravitation</option><option value="226|<b>Physics</b>--Mathematical Physics">Mathematical Physics</option><option value="397|<b>Physics</b>--Matlab">Matlab</option><option value="327|<b>Physics</b>--Nanotechnology">Nanotechnology</option><option value="116|<b>Physics</b>--Optoelectronics">Optoelectronics</option><option value="147|<b>Physics</b>--Orbital Computational Dynamics">Orbital Computational Dynamics</option><option value="268|<b>Physics</b>--Physics--Other">Physics--Other</option><option value="89|<b>Physics</b>--Quantum Physics">Quantum Physics</option><option value="88|<b>Physics</b>--Semiconductor Physics">Semiconductor Physics</option><option value="269|<b>Physics</b>--Thermodynamics">Thermodynamics</option>			<option value="">------------------------------</option>
			<option value="">PSYCHOLOGY</option>
			<option value="">------------------------------</option>
			<option value="272|<b>Psychology</b>--Abnormal">Abnormal</option><option value="273|<b>Psychology</b>--Child and Adolescent">Child and Adolescent</option><option value="369|<b>Psychology</b>--Clinical">Clinical</option><option value="194|<b>Psychology</b>--Counseling">Counseling</option><option value="274|<b>Psychology</b>--Learning">Learning</option><option value="233|<b>Psychology</b>--Life Skills">Life Skills</option><option value="61|<b>Psychology</b>--Psychology--Other">Psychology--Other</option><option value="404|<b>Psychology</b>--Psychometrics">Psychometrics</option><option value="328|<b>Psychology</b>--Research Design">Research Design</option>			<option value="">------------------------------</option>
			<option value="">PUBLIC SPEAKING</option>
			<option value="">------------------------------</option>
			<option value="232|<b>Public Speaking</b>--Debate">Debate</option><option value="230|<b>Public Speaking</b>--Public Speaking--Other">Public Speaking--Other</option><option value="392|<b>Public Speaking</b>--Speech">Speech</option>			<option value="">------------------------------</option>
			<option value="">RELIGION</option>
			<option value="">------------------------------</option>
			<option value="174|<b>Religion</b>--Comparative Religion">Comparative Religion</option><option value="175|<b>Religion</b>--Religion--Other">Religion--Other</option><option value="364|<b>Religion</b>--Theology/Divinity">Theology/Divinity</option><option value="367|<b>Religion</b>--World">World</option>			<option value="">------------------------------</option>
			<option value="">SOCIOLOGY</option>
			<option value="">------------------------------</option>
			<option value="373|<b>Sociology</b>--Collective Behavior">Collective Behavior</option><option value="374|<b>Sociology</b>--Deviant Behavior">Deviant Behavior</option><option value="384|<b>Sociology</b>--General">General</option><option value="375|<b>Sociology</b>--Marriage and Family">Marriage and Family</option><option value="77|<b>Sociology</b>--Sociology--Other">Sociology--Other</option><option value="372|<b>Sociology</b>--Theory">Theory</option>			<option value="">------------------------------</option>
			<option value="">SPORTS SCIENCE (P.E.)</option>
			<option value="">------------------------------</option>
			<option value="378|<b>Sports Science (P.E.)</b>--Management">Management</option><option value="146|<b>Sports Science (P.E.)</b>--Sports Science--Other">Sports Science--Other</option><option value="350|<b>Sports Science (P.E.)</b>--Yoga">Yoga</option>			<option value="">------------------------------</option>
			<option value="">THEATER</option>
			<option value="">------------------------------</option>
			<option value="231|<b>Theater</b>--Drama/Acting">Drama/Acting</option><option value="234|<b>Theater</b>--Theater--Other">Theater--Other</option>			<option value="">------------------------------</option>
			<option value="">WRITING</option>
			<option value="">------------------------------</option>
			<option value="423|<b>Writing</b>--Cause and Effects Essay Writing">Cause and Effects Essay Writing</option><option value="76|<b>Writing</b>--Dissertation writing">Dissertation writing</option><option value="424|<b>Writing</b>--Division and Classification Essay Writing">Division and Classification Essay Writing</option><option value="184|<b>Writing</b>--Editing/Proofreading">Editing/Proofreading</option><option value="75|<b>Writing</b>--Essay Writing">Essay Writing</option><option value="104|<b>Writing</b>--Literature Analysis">Literature Analysis</option><option value="173|<b>Writing</b>--Literature Review">Literature Review</option><option value="11|<b>Writing</b>--Poetry and Poetry Writing">Poetry and Poetry Writing</option><option value="74|<b>Writing</b>--Prose">Prose</option><option value="333|<b>Writing</b>--Research Paper Writing">Research Paper Writing</option><option value="343|<b>Writing</b>--Resumes and Cover Letters">Resumes and Cover Letters</option><option value="428|<b>Writing</b>--Writing a Master's Thesis">Writing a Master's Thesis</option><option value="63|<b>Writing</b>--Writing--Other">Writing--Other</option>		<option value="">------------------------------</option>
		<option value="-1|Don't Know/Not Sure">Don't Know/Not sure</option>
	</select>
