<div headernav></div>

<div class="container">
      <form name="formreqcontstudent" novalidate>
        <h4>Request Title - (SR0000001)</h4>
        <div>&nbsp;</div>

        <div class="bg-info row">
            <div class="col-xs-12 space-top">
                <label>Status: Pending Quote</label>
                <label class="pull-right">Assigned To: librarysophia</label>
            </div>
            <div class="col-xs-12 space-top">
              Please be patient while a problem solver reviews your request. If you do not hear from us within 12 hours, please let us know. You can now be notified by text message/SMS (standard messaging rates apply). To edit your notification preferences, click My Profile. If you have email notifications enabled, make sure do-not-reply@24houranswers.com is added to your address book so it's not marked as spam.
            </div>


            <div ng-show="!quotesubmitted" class="col-xs-8 space-top">
                <button type="submit" ng-model="submit" class="btn btn-md btn-primary ">Make Payment</button>
                <button type="submit" ng-model="submit" class="btn btn-md btn-danger ">Cancel Request</button>
            </div>

            <div class="col-xs-12 space-top" ng-show="quotesubmitted">
                A quote has been entered of ${{quote}}. <a data-toggle="modal" data-target=".bd-changequote-modal-md">Change quote</a>
            </div>

            <div class="col-xs-12 space-top">&nbsp;</div>

        </div>

        <div class="space-top row">
            <div class="col-xs-12">
                <label>Time remaining until due date: 8 days, 16 hours, 4 minutes</label>
            </div>
        </div>

        <div class="space-top row">
            <div class="col-xs-12">
                <button type="submit" ng-model="submit" class="btn btn-md btn-success" data-toggle="modal" data-target=".bd-addposttutor-modal-md">Add Post</button>
            </div>
        </div>

        <ul class="list-group space-top">
          <li class="list-group-item list-group-item-info">
            <small><b>11/17/15 2:17AM EST</b></small>
            <div>&nbsp;</div>
            <small>
              <div>Subject: Administration – Librarianship</div>
              <div>Requested Due Date: 11/25/15 7:00PM EST</div>
              <div>Student's Time Zone: Asia/Shanghai GMT+08:00</div>
              <div>Grade Level: Graduate Student</div>
            </small>
            <br />
            <div>the quick brown fox jumps over the lazy dog.</div>
          </li>
            <li class="list-group-item list-group-item-warning">
              <small>11/17/15 2:17AM EST </small>
              <div class="space-top">
                  <strong>You</strong> are now assigned to this request. (via direct submission to tutor)
              </div>
            </li>

            <li class="list-group-item list-group-item-warning">
              <small>11/17/15 2:17AM EST </small>
              <div class="space-top">
                  <strong>You</strong> submitted a quote of $30.00
              </div>
            </li>

            <li class="list-group-item">
              <small>11/17/15 2:17AM EST </small>
              <div class="space-top">
                  <strong>Kathy Student</strong> - The quick brown fox jumps over the lazy dog
              </div>
            </li>
        </ul>



        <!--MODAL POP BOX FOR CHANGE QUOTE-->
        <div class="modal fade bd-changequote-modal-md" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-info">Change Quote</h4>
              </div>
              <div class="modal-body">
                <div class="space-top">
                  <label>Enter new quote (current quote is ${{quote}})</label>
                  <div class="form-group">
                      <div class='input-group date'>
                          <span class="input-group-addon">$</span>
                          <input type='text' class="form-control" placeholder="0" />
                      </div>
                  </div>
                </div>

                <div class="btn-group space-top">
                  <button type="button" class="btn btn-primary"> OK </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--MODAL POP BOX FOR ADD POST TUTOR-->
        <div class="modal fade bd-addposttutor-modal-md" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-info">Add Post</h4>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-xs-12 space-top">
                    <input type="file" class="form-control">
                  </div>

                  <div class="col-xs-12 space-top">
                    <label> Comments</label>
                    <textarea ng-model="comments" class="form-control" required></textarea>
                  </div>

                  <div class="col-xs-12 btn-group space-top">
                    <button type="button" class="btn btn-primary"> Submit Comment </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


      </form>
</div> <!-- /container -->
