<div headernav></div>

<div class="container" ng-controller="reqTutorCtrl">
      <h2>Requests</h2>
      <form name="formreqtutor" novalidate>
        <div class="space-top row">
            <div class='col-sm-6'>
                <div class="form-group">
                    <div class='input-group date'>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-search"></span>
                        </span>
                        <input type='text' id="datepicker" class="form-control" placeholder="Search" />
                    </div>
                </div>
            </div>
            <div class='col-sm-6'>
              <div class="btn-group pull-right" role="group">
                <button type="button" class="btn btn-default" data-toggle="modal" data-target=".bd-sort-modal-lg"> Sort </button>
                <button type="button" class="btn btn-default" data-toggle="modal" data-target=".bd-filtertutor-modal-lg"> Filter </button>
                <button type="button" ng-model="pipeline" class="btn btn-default active pull-right" ng-click="pipelineToggle()"> Pipeline </button>
              </div>
            </div>
        </div>

        <ul class="list-group space-top">
            <li class="list-group-item" ng-repeat="n in [01, 02, 03, 04] track by $index">
                <span class="badge pull-left text-error">SR00000{{n}}</span> &nbsp; <span class="text-danger">Pending Authorization</span> - Test Account - Unattended for 4 days
                <hr ng-show="pipeline" /><label ng-show="pipeline">[ text label and data goes here ]</label>
                <span class="glyphicon glyphicon-chevron-right pull-right icon-middle-r"></span>
          </li>
        </ul>

        <!--MODAL POP BOX FOR filter student-->
        <div class="modal fade bd-sort-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-info" id="gridModalLabel">Sort by</h4>
              </div>
              <div class="modal-body">
                <select size="3" class="form-control">
            			<option value="time_unattended">Time Unattended</option>
            			<option value="dueDate" selected="">Due Date</option>
            			<option value="date">Submission Date</option>
            		</select>

                <select size="2" class="form-control space-top">
            			<option value="ASC" selected="">Ascending</option>
            			<option value="DESC">Descending</option>
            		</select>

                <div class="btn-group space-top">
                  <button type="button" class="btn btn-primary"> View Requests </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade bd-filtertutor-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-info" id="gridModalLabel">Filter Section</h4>
              </div>
              <div class="modal-body">
                <select size="7" class="form-control space-top">
            			<option value="all" selected="">All Statuses</option>
            			<option value="NOT IN('Canceled','Completed')">Active</option>
            			<option value="Pending Quote">Pending Quote</option>
            			<option value="Pending Authorization">Pending Authorization</option>
            			<option value="Pending Completion">Pending Completion</option>
            			<option value="Completed">Completed</option>
            			<option value="Canceled">Canceled</option>
            		</select>

                <select size="3" class="form-control space-top">
            			<option value="all" selected="">All Request Types</option>
            			<option value="solutionrequests">Solution Requests</option>
            			<option value="liverequests">Live Session Requests</option>
            		</select>

                <select size="3" class="form-control space-top">
            			<option value="all">Archived &amp; Unarchived</option>
            			<option value="0" selected="">Unarchived</option>
            			<option value="1">Archived</option>
            		</select>

                <div class="space-top">
                  <div ng-include="'app/pages/list-subjects.tpl.html'"></div>
                </div>

                <div class="btn-group space-top">
                  <button type="button" class="btn btn-primary"> View Requests </button>
                </div>
              </div>
            </div>
          </div>
        </div>




      </form>
</div> <!-- /container -->
