<div headernav></div>

<div class="container" ng-controller="listCtrl">
      <form name="formaccountinfo" novalidate>
        <h2>Account Information</h2>
        <div class="input-group space-top">
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-envelope"></span>
          </span>
          <input type="text" ng-model="fname" class="form-control" ng-minlength="3" placeholder="Enter your valid email address" required />
        </div>

        <hr />
        <div class="input-group space-top">
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-phone-alt"></span>
          </span>
          <input type="text" ng-model="fname" class="form-control" ng-minlength="3" placeholder="Enter your valid phone number" required />
        </div>

        <div>&nbsp;</div>
        <div class="input-group space-top">
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-home"></span>
          </span>
          <input type="text" ng-model="fname" class="form-control" ng-minlength="3" placeholder="Enter address line 1" required />
        </div>

        <div class="input-group space-top">
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-home"></span>
          </span>
          <input type="text" ng-model="fname" class="form-control" ng-minlength="3" placeholder="Enter address line 2" required />
        </div>
        <div>&nbsp;</div>
        <div class="input-group space-top">
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-road"></span>
          </span>
          <input type="text" ng-model="fname" class="form-control" ng-minlength="3" placeholder="City" required />
        </div>



        <div class="space-top">
          <label> Country</label>
          <div ng-include="'app/pages/list-country.tpl.html'"></div>
        </div>

        <div class="space-top" ng-show="isUsa">
          <label> State</label>
          <div ng-include="'app/pages/list-state.tpl.html'"></div>
        </div>

        <div class="input-group space-top">
          <span class="input-group-addon">
              <span class="glyphicon"><strong>123</strong></span>
          </span>
          <input type="text" ng-model="zip" class="form-control" ng-minlength="3" placeholder="Enter your zip/postal code" required />
        </div>



        <div class="input-group space-top" ng-show="isUsa">
            <span class="input-group-addon">
                <span class="glyphicon"><strong>123</strong></span>
            </span>
          <input type="text" ng-model="ssn" class="form-control" ng-minlength="3" placeholder="Enter your SSN" required />
        </div>



        <hr />


        <div>&nbsp;</div>
        <div class="alert alert-warning" role="alert">
          Password information only required if changing password
          <div class="input-group space-top">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-lock text-info"></span>
            </span>
            <input type="password" ng-model="currpwd" class="form-control" placeholder="Current Password" required />
          </div>

          <div>&nbsp;</div>
          <div class="input-group space-top">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-lock text-warning"></span>
            </span>
            <input type="password" ng-model="pwd" class="form-control" placeholder="New Password" required />
          </div>

          <div class="input-group space-top">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-repeat text-warning"></span>
            </span>
            <input type="password" ng-model="pwd2" password-match="pwd" class="form-control" placeholder="Re-type New Password" required />
          </div>

          <div class="msg-block" ng-show="formaccountinfo.$error">
            <span class="msg-error" ng-show="formaccountinfo.pwd2.$error.pwmatch">
              Passwords don't match.
            </span>
          </div>
        </div>

        <hr />
        <div class="checkbox">
          <label>
              <input type="checkbox" ng-model="cbnotif" required /> Opt-out of new request notifications
          </label>
        </div>

        <div class="space-top">
          <label> Notifications</label>
          <div ng-include="'app/pages/list-notification.tpl.html'"></div>
        </div>

        <hr />
        <h4>Profile Information</h4>

        <div class="space-top">
          <label> My Subjects</label>
          <div style="border:1px dashed #999999;">&nbsp;</div>
        </div>

        <div class="space-top">
          <label> Your Profile Picture</label>
          <div class="row">
              <div class="col-xs-4 col-sm-2"><img src="app/images/nophoto.jpg" style="width:100px;height:100px;" /></div>
              <div class="col-xs-8 col-sm-10">
                <div class="alert alert-info space-top">
                  <input type="file" class="form-control">
                </div>

                <div class="btn-group space-top" role="group" aria-label="Basic example">
                  <button type="button" class="btn btn-primary">Submit Picture</button>
                  <button type="button" class="btn btn-danger">Remove</button>
                </div>

              </div>
          </div>
        </div>

        <div class="space-top">
          <label> Biography</label>
          <textarea ng-model="biography" class="form-control" required></textarea>
        </div>


        <div>&nbsp;</div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Save Changes</button>
        <div>&nbsp;</div>
      </form>
</div> <!-- /container -->
