<div headernav></div>

<div class="container" ng-controller="listCtrl">
      <form name="formcontactus" novalidate>
        <h2>Enter Credit Card Info</h2>
        <div>&nbsp;</div>


        <div class="space-top">
          <label> (Enter details as it appears on your card)</label>
          <div class="input-group space-top">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-font"></span>
            </span>
          <input type="text" ng-model="fname" class="form-control" placeholder="Enter First Name" required />
          </div>
        </div>

        <div class="space-top">
          <div class="input-group space-top">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-bold"></span>
            </span>
          <input type="text" ng-model="fname" class="form-control" placeholder="Enter Last Name" required />
          </div>
        </div>

        <hr />

        <div class="space-top row">
          <div class="col-xs-4">
            <label>Card Type</label>
            <div ng-include="'app/pages/list-card.tpl.html'"></div>
          </div>
          <div class="col-xs-8">
            <label>Card Number</label>
            <div class="row">
              <div class="col-xs-6 col-md-8" style="padding:0;"><input type="text" ng-model="fname" class="form-control" placeholder="No input" required /></div>
              <div class="col-xs-6 col-md-4" style="padding-left:1px;"><img src="app/images/cards.gif" /></div>
            </div>
          </div>

        </div>

        <div class="space-top row">
          <div class="col-xs-6">
            <label>Expiration Date:</label>
            <div class="input-group">
              <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
              </span>
              <input type='text' class="form-control" id='expdatepicker' />
            </div>
                <script type="text/javascript">
                  $(function () {
                      $('#expdatepicker').datetimepicker({
                          viewMode: 'years',
                          format: 'MM/YYYY'
                      });
                  });
                </script>
          </div>

          <div class="col-xs-4" style="padding-left:2px;">
            <label>CV2 Code</label>
            <input type="password" ng-model="cvcode" class="form-control" placeholder="" required />
          </div>
        </div>

        <div class="checkbox">
          <label><input type="checkbox" value="">Remember payment method</label>
        </div>

        <hr />

        <h4>Billing Address</h4>

        <div class="input-group space-top">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-home"></span>
            </span>
          <input type="text" ng-model="address" class="form-control" placeholder="Street Address" required />
        </div>


        <div class="input-group space-top">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-road"></span>
            </span>
          <input type="text" ng-model="city" class="form-control" placeholder="City " required />
        </div>

        <div class="space-top">
          <label> Country</label>
          <div ng-include="'app/pages/list-country.tpl.html'"></div>
        </div>

        <div class="space-top">
            <label>State/Province</label>
            <div ng-show="isUsa" ng-include="'app/pages/list-state.tpl.html'"></div>
            <input ng-show="!isUsa"  type="text" ng-model="fname" class="form-control" placeholder="Enter Province" required />
        </div>

        <div class="input-group space-top">
          <span class="input-group-addon">
              <span class="glyphicon"><strong>123</strong></span>
          </span>
          <input type="text" ng-model="zip" class="form-control" ng-minlength="3" placeholder="Enter your zip/postal code" required />
        </div>

        <hr />

        <div class="row">
          <div class="col-xs-6" style="padding-right:2px;">
            <button type="submit" ng-model="submit" class="btn btn-lg btn-primary btn-block">Confirm</button>
          </div>
          <div class="col-xs-6" style="padding-left:2px;">
            <button type="submit" ng-model="submit" class="btn btn-lg btn-warning btn-block">Use Other Method</button>
          </div>
        </div>

        <div>&nbsp;</div>

      </form>
</div> <!-- /container -->
