<div headernav></div>

<div class="container">
      <form name="formcontactus" novalidate>
        <h2>Contact Us</h2>
        <div>&nbsp;</div>
        <div>Phone: (845) 423-5025</div>
        <div>Email: help@24houranswers.com</div>

        <div class="input-group space-top">
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-envelope"></span>
          </span>
          <input type="mail" ng-model="mail" class="form-control" placeholder="Enter your valid email" required />
        </div>

        <div>&nbsp;</div>
        <div>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>

        <div>&nbsp;</div>

        <div class="space-top">
          <label> Question/Comments</label>
          <textarea ng-model="comments" class="form-control" required></textarea>
        </div>

        <div>&nbsp;</div>
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-6" style="padding-right:2px;">
              <button type="submit" ng-model="submit" class="btn btn-lg btn-primary btn-block">Submit</button>
            </div>
            <div class="col-xs-6" style="padding-left:2px;">
              <button type="submit" ng-model="submit" class="btn btn-lg btn-warning btn-block">Cancel</button>
            </div>
          </div>
        </div>
      </form>
</div> <!-- /container -->
