<div headernav></div>

<div class="container">
      <form name="formcreateacc" novalidate>
        <h2>Create New Account</h2>
        <div class="input-group space-top">
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-font"></span>
          </span>
        <input type="text" ng-model="fname" class="form-control" ng-minlength="3" placeholder="First Name" required />
        </div>

        <div>&nbsp;</div>
        <div class="input-group space-top">
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-bold"></span>
          </span>
          <input type="text" ng-model="lname" class="form-control" placeholder="Last Name" required />
        </div>

        <div>&nbsp;</div>
        <div class="input-group space-top">
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-envelope"></span>
          </span>
          <input type="email" ng-model="email" class="form-control" placeholder="Email Address" required />
        </div>

        <div>&nbsp;</div>
        <div class="input-group space-top">
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-user"></span>
          </span>
        <input type="text" ng-model="uname" class="form-control" placeholder="Username" required />
        </div>

        <hr>
        <div class="input-group space-top">
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-lock"></span>
          </span>
        <input type="password" name="pwd" ng-model="pwd" class="form-control" placeholder="Password" required />
        </div>

        <div class="input-group space-top">
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-repeat"></span>
          </span>
        <input type="password" name="pwd2" ng-model="pwd2" password-match="pwd" class="form-control" placeholder="Re-type Password" required />
        </div>

        <div class="msg-block" ng-show="formcreateacc.$error">
          <span class="msg-error" ng-show="formcreateacc.pwd2.$error.pwmatch">
            Passwords don't match.
          </span>
        </div>

        <div>&nbsp;</div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="cbtac" required />I have read and agreed to the <a href="#">Terms and Conditions</a>
          </label>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Create Account</button>
      </form>
</div> <!-- /container -->
