<div class="pageheader" class="container-fluid">

      <a href="#/accountinfo">
        <img src="app/images/headerlogo-default.gif" />
      </a>
      <div class="dropdown pull-right">
        <button type="button" class="btn btn-default btn-md" id="burgernav" data-toggle="dropdown">
          <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
        </button>

          <ul class="dropdown-menu" aria-labelledby="burgernav">
            <li><a href="#/contactus">Contact Us</a></li>
            <li><a href="#/accountinfo">My Account</a></li>
            <li><a href="#/homeworkhelp">Get Homework Help</a></li>
            <li><a href="#/onlinetutoring">Get Online Tutoring</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#/login">Sign out</a></li>

            <li role="separator" class="divider"></li>
            <li class="dropdown-header">Demo Navigation</li>
            <li><a href="#/createaccount">Create Account</a></li>
            <li><a href="#/login">Login</a></li>
            <li><a href="#/accountinfo">Account Info</a></li>
            <li><a href="#/homeworkhelp">Homework Help</a></li>
            <li><a href="#/onlinetutoring">Online Tutoring</a></li>
            <li><a href="#/requeststudent">Student Request</a></li>
            <li><a href="#/reqcontentstudent">Student Request Content</a></li>
            <li><a href="#/requesttutor">Tutor Request</a></li>
            <li><a href="#/reqcontenttutor">Tutor Request Content</a></li>
            <li><a href="#/contactus">Help/Contact Us</a></li>
            <li><a href="#/choosepayment">Choose a Payment Method</a></li>
            <li><a href="#/confirmsavedpayment">Confirm Authorization</a></li>
            <li><a href="#/cardinfo">Credit Card Info</a></li>

          </ul>
      </div>
</div>
