<div headernav></div>

<div class="container">
      <form name="formcontactus" novalidate>
        <h2>Homework Help</h2>

        <div>&nbsp;</div>
        <div>
            We accept homework assignments, practice questions, projects, laboratory write-ups, and more. We cover many subjects from beginner to advanced.
        </div>

        <div>&nbsp;</div>
        <div class="alert alert-info" role="alert">
          <strong>Reminder:</strong> This is not a free service.<br />
        </div>

        <hr />
        <em class="text-info">Fieds with <strong>*</strong> are required</em>
        <div class="space-top row">
                <div class='col-sm-6'>
                  <label>* Date Due</label>
                    <div class="form-group">
                        <div class='input-group date'>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                            <input type='text' id="datepicker" class="form-control" placeholder="Click to select date." />
                        </div>
                    </div>
                </div>
                <script type="text/javascript">
                    $(function () {
                        $('#datepicker').datetimepicker({
                          format: 'DD/MM/YYYY'
                        });
                    });
                </script>
            </div>

            <div class="row">
                    <div class='col-sm-6'>
                      <label>* Time Due</label>
                        <div class="form-group">
                            <div class='input-group date'>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-time"></span>
                                </span>
                                <input type='text'id='timepicker' class="form-control" placeholder="Click to select time." required />
                            </div>
                        </div>
                    </div>
                    <script type="text/javascript">
                        $(function () {
                            $('#timepicker').datetimepicker({
                              format:'LT'
                            });
                        });
                    </script>
                </div>
        <div ng-controller="zoneCtrl"><strong>Your Time Zone:</strong> GMT {{currentTZ}}</div>

        <hr />
        <div class="space-top">
          <label>* Select the subject that best describes your assignment</label>
          <div ng-include="'app/pages/list-subjects.tpl.html'"></div>
        </div>

        <div class="space-top">
          <label* >Grade Level</label>
          <div ng-include="'app/pages/list-gradelevel.tpl.html'"></div>
        </div>

        <div>&nbsp;</div>
        <div class="space-top">
          <label>Request Speed <a data-toggle="modal" data-target=".bd-speed-modal-lg">( ? )</a></label>
          <div>
          <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-info active">
                  <input type="radio" name="inputWalls" id="inputWalls" value="Excellent" checked>
              Normal Speed </label>
              <label class="btn btn-info">
                  <input type="radio" name="inputWalls" id="inputWalls" value="Good">
              Fast Speed </label>
          </div>
          </div>
        </div>


        <!--MODAL POP BOX FOR REQUEST SPEED-->
        <div class="modal fade bd-speed-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-info" id="gridModalLabel">Request speed information</h4>
              </div>
              <div class="modal-body">
                <strong>Normal response time:</strong> Our most experienced, most successful tutors are provided for maximum expertise and reliability.<br /><br /><strong>Fast response time: </strong>Used only for emergencies when speed is the single most important factor.
                <div>&nbsp;</div>
                <div class="row">
                  <div class="col-xs-4">
                    <button type="submit" class="btn btn-md btn-primary btn-block">OK</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <hr />
        
        <div class="space-top">
          <label> Specialist's username <em><small class="text-info">(Optional)</small></em></label>
          <div class='input-group date'>
              <span class="input-group-addon">
                  <span class="glyphicon glyphicon-user"></span>
              </span>
          <input type="mail" ng-model="mail" class="form-control" placeholder="" required />
          </div>
        </div>

        <div class="space-top">
          <label> Discount Code <em><small class="text-info">(If you have one)</small></em></label>
          <div class='input-group date'>
              <span class="input-group-addon">
                  <span class="glyphicon glyphicon-usd"></span>
              </span>
              <input type="mail" ng-model="discountcode" class="form-control" placeholder="" required />
          </div>
        </div>

        <div class="space-top">
          <label>* Question/Instructions</label>
          <textarea class="form-control" required></textarea>
        </div>


        <div class="space-top alert alert-info">
          <input type="file" class="form-control">
        </div>
        <div>&nbsp;</div>

        <div class="btn-group btn-group-justified">
            <div class="btn-group">
                <button type="submit" ng-model="submit" class="btn btn-lg btn-primary ">Submit</button>
            </div>
        </div>
      </form>
      <br />
</div> <!-- /container -->
