<div headernav></div>

<div class="container">
      <form class="formsignin">
        <h2 class="form-signin-heading">Login</h2>
        <div class="input-group">
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-envelope"></span>
          </span>
          <input type="email" id="email" class="form-control" placeholder="Email address" required autofocus>
        </div>

        <div>&nbsp;</div>
        <div class="input-group">
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-lock"></span>
          </span>
          <input type="password" id="password" class="form-control" placeholder="Password" required>
        </div>
        <div>&nbsp;</div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
      <div>&nbsp;</div>
      <div>
        <a href="#/createaccount">Not registered? It only takes a minute!</a>
      </div>
      <br />
      <div>
        <a href="#">Forgot your password?</a>
      </div>
</div> <!-- /container -->
