<div headernav></div>

<div class="container">
      <form name="formreqcontstudent" novalidate>
        <h3 class="text-center">Request Title - (SR0000001)</h3>
        <div>&nbsp;</div>

        <div class="bg-info row">
            <div class="col-xs-12 space-top">
                <label>Status: Pending Quote</label>
                <label class="pull-right">Assigned To: librarysophia</label>
            </div>
            <div class="col-xs-12 space-top">
              Please be patient while a problem solver reviews your request. If you do not hear from us within 12 hours, please let us know. You can now be notified by text message/SMS (standard messaging rates apply). To edit your notification preferences, click My Profile. If you have email notifications enabled, make sure do-not-reply@24houranswers.com is added to your address book so it's not marked as spam.
            </div>

            <div>&nbsp;</div>
            <div class="col-xs-12">
              <div class="btn-toolbar">
                  <button type="submit" ng-model="submit" class="btn btn-md btn-success ">Make Payment</button>
                  <button type="submit" ng-model="submit" class="btn btn-md btn-danger pull-right">Cancel Request</button>
              </div>
            </div>

            <div class="col-xs-12 space-top" ng-show="quotesubmitted">
                A quote has been entered of ${{quote}}. <a data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target=".bd-changequote-modal-md">Change quote</a>
            </div>

            <div class="col-xs-12 space-top">&nbsp;</div>

        </div>

        <div class="space-top row">
            <div class="col-xs-12">
                <label>Time remaining until due date: 8 days, 16 hours, 4 minutes</label>
            </div>
        </div>

        <div class="space-top row">
            <div class="col-xs-6 col-sm-4">
                <button type="submit" ng-model="submit" class="btn btn-md btn-primary btn-block" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target=".bd-addposttutor-modal-md">Add Post</button>
            </div>
        </div>

        <ul class="list-group space-top">
          <li class="list-group-item list-group-item-warning text-black">
            <small class="pull-left"><strong>KATHY21 STUDENT</strong></small>
            <small class="pull-right"><strong>11/17/15 2:17AM EST</strong></small>
            <hr />

              <div><em>Subject: Administration – Librarianship</em></div>
              <div><em>Requested Due Date: 11/25/15 7:00PM EST</em></div>
              <div><em>Student's Time Zone: Asia/Shanghai GMT+08:00</em></div>
              <div><em>Grade Level: Graduate Student</em></div>

            <br />
            <div>the quick brown fox jumps over the lazy dog.</div>
          </li>

          <li class="list-group-item text-black">
            <small class="pull-left"><strong>YOU</strong></small>
            <small class="pull-right"><strong>11/17/15 2:19AM EST</strong></small>
            <hr />
            <div class="row">
              <div class="col-xs-4 col-sm-2">
                  <img src="app/images/nophoto.jpg" style="width:100px;height:100px;" />
              </div>

              <div class="col-xs-8 col-sm-10">
                  The quick brown fox jumps over the window. Boom
              </div>
            </div>
          </li>

          <li class="list-group-item text-black">
            <small class="pull-left">
              <strong>CHARLES</strong>
              <span class="glyphicon glyphicon-star text-gold"></span>
              <span class="glyphicon glyphicon-star text-gold"></span>
              <span class="glyphicon glyphicon-star text-gold"></span>
            </small>
            <small class="pull-right"><strong>11/17/15 3:17AM EST</strong></small>
            <hr />
            <div class="row">
              <div class="col-xs-4 col-sm-2">
                  <img src="app/images/nophoto.jpg" style="width:100px;height:100px;" />
              </div>

              <div class="col-xs-8 col-sm-10">
                  The quick brown fox jumps over the window. Boom
              </div>
            </div>
          </li>

            <li class="list-group-item list-group-item-warning text-black">
              <small class="pull-right"><strong>11/17/15 4:13AM EST</strong></small>
              <hr />
              <div class="space-top">
                  <strong>You</strong> are now assigned to this request. (via direct submission to tutor)
              </div>
            </li>

            <li class="list-group-item list-group-item-warning text-black">
              <small class="pull-right"><strong>11/17/15 5:12AM EST</strong></small>
              <hr />
              <div class="space-top">
                  <strong>You</strong> submitted a quote of $30.00
              </div>
            </li>

            <li class="list-group-item text-black">
              <small class="pull-left"><strong>KATHY21 STUDENT</strong></small>
              <small class="pull-right"><strong>11/17/15 5:37 AM EST</strong></small>
              <hr />
              <div class="row">
                <div class="col-xs-4 col-sm-2">
                    <img src="app/images/nophoto.jpg" style="width:100px;height:100px;" />
                </div>

                <div class="col-xs-8 col-sm-10">
                    The quick brown fox jumps over the window. Boom
                </div>
              </div>
            </li>
        </ul>



        <!--MODAL POP BOX FOR CHANGE QUOTE-->
        <div class="modal fade bd-changequote-modal-md" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-info">Change Quote</h4>
              </div>
              <div class="modal-body">
                <div class="space-top">
                  <label>Enter new quote (current quote is ${{quote}})</label>
                  <div class="form-group">
                      <div class='input-group date'>
                          <span class="input-group-addon">$</span>
                          <input type='text' class="form-control" placeholder="0" />
                      </div>
                  </div>
                </div>

                <div class="btn-group space-top">
                  <button type="button" class="btn btn-primary"> OK </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--MODAL POP BOX FOR ADD POST TUTOR-->
        <div class="modal fade bd-addposttutor-modal-md" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-info">Add Post</h4>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-xs-12 alert alert-info space-top">
                    <input type="file" class="form-control">
                  </div>

                  <div class="col-xs-12 space-top">
                    <label> Comments</label>
                    <textarea ng-model="comments" class="form-control" required></textarea>
                  </div>

                  <div>&nbsp;</div>
                  <div class="col-xs-12">
                    <div class="row">
                      <div class="col-xs-6" style="padding-right:2px;">
                        <button type="submit" ng-model="submit" class="btn btn-md btn-primary btn-block">Submit Comment</button>
                      </div>
                      <div class="col-xs-6" style="padding-left:2px;">
                        <button type="submit" ng-model="submit" class="btn btn-md btn-warning btn-block">Cancel</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


      </form>
</div> <!-- /container -->
