<div headernav></div>

<div class="container">
      <h2>My Requests</h2>
      <form name="formreqstudent" novalidate>
        <div class="space-top row">
            <div class='col-xs-10'>
                <div class="form-group">
                    <div class='input-group date'>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-search"></span>
                        </span>
                        <input type='text' id="datepicker" class="form-control" placeholder="Search" />
                    </div>
                </div>
            </div>
            <div class='col-xs-2'>
              <div class="btn-group pull-right" role="group">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target=".bd-filterstud-modal-lg"> Filter </button>
              </div>
            </div>
        </div>

        <ul class="list-group space-top">
            <li class="list-group-item" ng-repeat="n in [01, 02, 03, 04, 05] track by $index" ng-class-even="'list-group-item-warning'">
                <span class="text-danger">Solution Request (SR00000{{n}})</span> - <em>Pending Request - 11/13/15 3:04PM PST</em>
                <span class="glyphicon glyphicon-chevron-right pull-right icon-middle-r">
            </span>
          </li>
        </ul>

        <!--MODAL POP BOX FOR filter student-->
        <div class="modal fade bd-filterstud-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-info" id="gridModalLabel">Filter Section</h4>
              </div>
              <div class="modal-body">
                <select size="5" class="form-control">
                  <option value="All requests">Show all requests</option>
									<option value="Last 15 days" selected="">Show last 15 days</option>
									<option value="Last 16-60 days">Show last 16-60 days</option>
									<option value="Last 61-90 days">Show last 61-90 days</option>
									<option value="Archived requests">Show archived requests</option>
								</select>

                <div>&nbsp;</div>
                <div class="row">
                  <div class="col-xs-6" style="padding-right:2px;">
                    <button type="submit" class="btn btn-md btn-primary btn-block">View Requests</button>
                  </div>
                  <div class="col-xs-6" style="padding-left:2px;">
                    <button type="submit" class="btn btn-md btn-warning btn-block">Reset Filters</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


      </form>
</div> <!-- /container -->
