a {
  text-decoration:underline;
}

.dropdown-menu > li > a{
  text-decoration:none;
}

.pageheader {
    background-image:url(images/headerbg.gif);background-repeat:repeat-x;
    height: 40px;
    padding: 2px 15px;
}

.msg-error {
  color:#ff0000;
  font-style: italic;
}

.space-top {
  margin-top:5px;
}

.icon-middle-r {
     margin:auto;
     position:absolute;
     max-height:100%;
     max-width:100%;
     top:40%;
     bottom:0;
     right:5px;
}

.bg-gray-lighter {
  background-color:#eee;
}

.text-black {
  color:#000 !important;
}

.text-gold {
  color:gold;
}
