<div class="modal-dialog modal-lg">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-disabled="vm.isLoading"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title text-info">Add Post</h4>
		</div>
		<form class="modal-body" ng-submit="vm.submit()">
			<div class="form-group">
				<label>Attach File</label>
				<input type="file" class="form-control" ng-model="vm.file" ng-disabled="vm.isLoading">
			</div>
			<div class="form-group">
				<textarea class="form-control" rows="6" ng-model="vm.comment" ng-disabled="vm.isLoading"></textarea>
			</div>

			<div class="alert alert-danger" ng-if="vm.errorMsg">
				<button type="button" class="close pull-right" ng-click="vm.errorMsg=null"><span aria-hidden="true">&times;</span></button>
				<strong>{{vm.errorMsg}}</strong>
			</div>

			<div class="form-group row">
				<div class="col-xs-7">
					<button type="submit" class="btn btn-primary btn-block" ng-disabled="vm.isLoading">
						<strong>Submit</strong>
					</button>
				</div>
				<div class="col-xs-5 text-right">
					<button type="button" class="btn btn-default" data-dismiss="modal" ng-disabled="vm.isLoading">Cancel</button>
				</div>
			</div>
		</form>
	</div>
</div>