<div class="modal-dialog modal-lg">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-disabled="vm.isLoading"><span class="text-danger" aria-hidden="true">&times;</span></button>
			<h4 class="modal-title text-info">Cancel Request</h4>
		</div>
		<form class="modal-body" ng-submit="vm.submit()">
			<div class="form-group">
				<label>Reason for cancelling request</label>
				<textarea ng-model="vm.reason" class="form-control" placeholder="Why is this request being cancelled? Please be descriptive as possible." rows="6" ng-disabled="vm.isLoading" required></textarea>
			</div>
			
			<div class="alert alert-danger" ng-if="vm.errorMsg">
				<button type="button" class="close pull-right" ng-click="vm.errorMsg=null"><span aria-hidden="true">&times;</span></button>
				<strong>{{vm.errorMsg}}</strong>
			</div>

			<div class="form-group row">
				<div class="col-xs-7">
					<button type="submit" class="btn btn-danger btn-block" ng-disabled="vm.isLoading"><strong>Submit</strong></button>
				</div>
				<div class="col-xs-5 text-right">
					<button type="button" class="btn btn-default" data-dismiss="modal" ng-disabled="vm.isLoading">Cancel</button>
				</div>
			</div>
		</form>
	</div>
</div>